/* CSS rule for container displaying full height image */
#header-image {
	height: 100%;
	
	background-image: url("../images/background.jpg");	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;		
}

/* CSS rule for container displaying header information */
#header {	
	max-width: 900px;
	margin: 0 auto;    
	padding: 200px;	
}

/* CSS rule for displaying main heading with larger font */
h1 {
	font-size: 500%;
	color: white;

}

/* CSS rule for displaying introduction text boldfaced and with larger font */
#intro {
	font-weight: bold;	
	font-size: 150%;
	color: white;
}

/* CSS rule for centering text inside a block element*/
.center {
	text-align: center;
}

/* CSS rule for container displaying all content centered */
#content {
	max-width: 900px;
	margin: 0 auto;
}	

/* CSS rule for displaying adventure items with a border at the bottom */
.adventure {
	border-bottom: 2px solid grey;
}

/* CSS rule for displaying images in a single line, centered, and with customized dimensions */
img {
	display: block;
	margin: 0px auto;

	width: 350px;
	height: 300px;
}

/* CSS rule for 4 side by side image containers */
.column {
	float: left;
	width: 25%;
	padding: 5px;
}

/* Clearing floats after the image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	margin: auto;
	background-position: center center;
	background-repeat: no-repeat;

}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}