/* CSS rule for container displaying full height image */
#header-image {
	height: 100%;
	
	background-image: url("Images/paris.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;		
}

/* CSS rule for container displaying header information */
#header {	
	max-width: 900px;
	margin: 0 auto;    
	padding: 200px;	
}

/* CSS rule for displaying main heading with larger font */
h1 {
	font-size: 500%;
	color: white;

}

h2 {
	font-size: 500%;
	color: black;
}

h3 {
	font-size: 200%;
	color:black;
}

.line {
	margin-bottom: 50px;
	font-family: "Arial Black";
	font-size: 100%;
	color: black;
	float: left;

}

.text {
	font-family: "Arial";
	font-size: 80%
}

/* CSS rule for displaying introduction text boldfaced and with larger font */
#intro {
	font-weight: bold;	
	font-size: 150%;
	color: white;
}

/* CSS rule for centering text inside a block element*/
.center {
	text-align: center;
}

/* CSS rule for container displaying all content centered */
#content {
	max-width: 1000px;
	margin: 0 auto;
}	

/* CSS rule for displaying adventure items with a border at the bottom */
.adventure {
	border-bottom: 2px solid grey;
}

/* CSS rule for displaying images in a single line, centered, and with customized dimensions */
img {
	margin: 25px 0px 25px 0px;
	width: 100%;
	display: block;
	height: auto;
}

/* CSS rule for 4 side by side image containers */
.column {
	float: left;
	width: 15%;
	padding:40px;
}

.column2 {
	float: left;
	width: 40%;
	padding:40px;
}

/* Clearing floats after the image containers */
.row::after {
	content: "";
	clear: both;
	display: table-row;
}

.pageFont {
	text-align: center;
	font-family: "Arial";
}

.pageFont2 {
	font-family: "Arial";
}

.pageFont3 {
	text-align: right;
	font-family: "Arial";
}

footer {
	font-size: 80%;
	padding: 7px 0px 0px 20px;}

#grad {
	background-image: linear-gradient(to bottom right, white, whitesmoke);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}